HELP.md

### Maven ###
target/
!**/src/main/**/target/
!**/src/test/**/target/

### Variables de entorno ###
.env

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Archivos del sistema operativo ###
.DS_Store
Thumbs.db
desktop.ini